<div class="interactive-wrapper" id="State-lollipops">
    <div id="outer-wrapper" class="showcase">
			<div class="row">

			<div class='figureTitle' id="chartTitle">How many days until <b style="color:#d61d00">70%</b> and <b style="color:#e6711b">80%</b> of the 16+ population are fully vaccinated</div>
			<div class='subTitle' id="subTitle">Based on the current seven day average of second doses for each state or territory.</div>
			<!-- <div class='notes' id='chartKey'></div> -->
			
			</div>
			<div class="row borderBottom chartSans" id="graphicContainer">	

			</div>
			<div class='footer offset'>
				<div id="footerAnnotations">

				</div>	
				
				<span id="footnote"></span> Guardian graphic <span id="sourceText"> | Sources: CovidLive.com.au, Guardian analysis</span>
			</div>	
			
	</div>
</div>